<div id="header-row">
  <div class="container">
    <div class="row">
      <!--LOGO-->
      <div class="span3"><a class="brand" href="<%= root_path%>"><img src="/assets/HelionLogo.png" style="padding-top:8px"></a></div>
      <!-- /LOGO -->
      <!-- MAIN NAVIGATION -->
      <div class="span9">
        <div class="navbar  pull-right">
          <div class="navbar-inner">
            <a data-target=".navbar-responsive-collapse" data-toggle="collapse" class="btn btn-navbar"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></a>
            <div class="nav-collapse collapse navbar-responsive-collapse">
              <ul class="nav">
                <li class="active">
                  <%=link_to "Home", :action=>"index" %>
                </li>
                <li>
                  <%=link_to "Add Services", :action=>"services" %>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
