<!-- MAIN NAVIGATION -->
<div class="container">
  <div id="myCarousel" class="carousel slide">
    <div class="carousel-inner">
      <div class="active item">
        <div class="container">
          <div class="row">
            <div class="span6">
              <div class="carousel-caption">
                <h1>Congratulations!</h1>
                <p class="lead">You've deployed your first Ruby on Rails app. As you are building the app, you can keep the header around as a handy reminder on how to add app services.  </p>
              </div>
            </div>
            <div class="span6 logo" style="margin-top:60px"><img src="assets/ruby_on_rails.svg"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Feature
    ==============================================-->
  <div class="row feature-box">
    <div class="span12 cnt-title">
      <h1>Use this app as a starting point</h1>
      <span>Open the solution in the editor of your choice to see what you've got to work with</span>
    </div>

    <div class="span4">
      <img src="/assets/Scaffolding.png" style="display:block; margin-left: auto; margin-right: auto;">
      <h2>Web Framework</h2>
      <p>
        This solution is built using Ruby On Rails framework.
      </p>
      <a href="http://rubyonrails.org">Read More →</a>
    </div>


    <div class="span4">
      <img src="/assets/manifest.png">
      <h2>Manifest</h2>
      <p>
        The manifest.yml file describes how to specify resources for you app including app services and environment variables.
      </p>
      <a href="#">Read More →</a>
    </div>

    <div class="span4">
      <img src="/assets/procfile.png" style="height:94px;width:auto">
      <h2>Procfile</h2>
      <p>
        If you don't want to use the in-built webrick server, this file specifies to use another server like puma or unicorn.
      </p>
      <a href="#">Read More →</a>
    </div>

  </div>
  <!-- /.Feature -->
  <div class="hr-divider"></div>
</div>
